body{
     margin: 100px auto;
    text-align: center;
    width: 400px;
    background-image: url(http://3.bp.blogspot.com/-8ra-HCgZHeg/VDdXyO8dxuI/AAAAAAAAADU/nL0aNMUg8vY/s1600/wallpaper-background-desktop-computer-sun-widescreen-waterfall-nice-picture.jpg);
 }
 h1{
 margin-bottom: 40px;
} 
